@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
/* Global CSS */
.primary-btn {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 12px 60px;
    display: inline-flex;
    justify-content: space-between;
    margin:10px 0px;
    border-radius: 10px;
    color: #fff;
    border: none;
    font-size: 1rem;
    box-shadow: 0 3px 10px rgba(44, 100, 164, 0.3);
    text-decoration: none;
}
.primary-btn:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    color: #002a64;
}
.secondary-btn {
    background-color: #fff;
    padding: 12px 60px;
    display: inline-flex;
    justify-content: space-between;
    margin:10px 0px;
    border-radius: 10px;
    color: #002a64;
    border: none;
    font-size: 1rem;
    box-shadow: 0 3px 10px rgba(44, 100, 164, 0.3);
    text-decoration: none;
}
.secondary-btn:hover {
    background-color: rgb(119, 116, 143);
    color: #fff;
}
.text-center{
    text-align: center;
}
.bg-primary{
    background-color: #002a64;
}
.bg-secondary{
    background-color: #0c4b7e;
}
.primary-img {
    border-radius: 20px 20px;
}

.primary {
    color: #002a64;
}
.secondary {
    color: #0c4b7e;
}
h3{
    font-size: 2.6rem;
}
*{
     margin: 0;
     padding: 0;
}
/* Main layout */
.container {
    display: flex;
    flex-direction: row;
}

/* Navigation Styles with flexbox */
.pnav{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 7.5vh;
    padding: 0px 30px 0px 100px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    align-items: center;
    box-shadow: 0 3px 10px rgba(44, 100, 164, 0.5);
}
.navHeader{
    margin-top: -15px;
}
.navHeader a {
    color:#fff;
    font-size: 1.2rem;
    text-decoration: none;
}
.nav-link {
    list-style: none;
    display: flex;
    padding: 0px 30px;
}
.nav-item a {
    display: inline-block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}
.nav-item a:hover {
    color: #d3d3d3;
}
/* About Section */
.about {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 100px;
    justify-content: space-between;
    gap: 20px;

}

.aboutText{
   flex: 1;
   font-size: 1.3rem;
   text-align: justify;
}
.textContent {
    line-height: 25pt;
    word-spacing: 10pt;
}
.aboutImg img{
    flex: 2;
    border-radius: 15% 2%;
    box-shadow: 0 3px 10px rgba(44, 100, 164, 0.5);
}
.aboutImg:hover {
    opacity: 0.6;
    background-color: #002a64;
    border-radius: 15% 2%;
}

/* Gallery Section */
.galleryTitle {
  font-size: 1.9rem;
  font-weight: 500;
  position: relative;
  color: #002a64;
  margin: 3% 45%;
  text-align: center;
}
.galleryTitle::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 3px;
    width: 130px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    text-align: center;
   
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 0px 10px 0px 30px;
    margin: 30px 100px 30px 100px;
}
.gallery>* {
    flex: 0 0 31.5%;
    padding: 10px 10px;
}
/* Contact Us */
.contact {
    display: flex;
    padding: 60px 100px;
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin-bottom: -80px;
}
.title {
    font-size: 2.5rem;
    color:#fff;
    text-align: center;
}
.contactText {
    font-size: 1.2rem;
    color:#fff;
    line-height: 30pt;
    text-align: center;
}
.contactBtn {
    align-items: center;
    text-align: center;
    margin: 10px 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
/* Contact Us Page */


.contactContainer{
  max-width: 700px;
  width: 100%;
  background-color: rgb(232, 232, 232);
  padding: 30px 50px;
  margin: 20px 300px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.contactContainer .title{
  font-size: 1.9rem;
  font-weight: 500;
  position: relative;
  color: #002a64;
  margin: 20px 278px;
}
.contactContainer .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 3px;
  width: 130px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  text-align: center;
 
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 10px 20px 10px;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #002a64;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .message {
  height: 20vh;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
 }
 form .message textarea:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
   align-items: center;
   text-align: center;
   margin: 30px 130px;
 }

 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
.aboutContainer{
    max-width: 900px;
    width: 100%;
    background-color: rgb(232, 232, 232);
    padding: 30px 50px;
    margin: 20px 300px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .aboutContainer .title{
    font-size: 1.9rem;
    font-weight: 500;
    position: relative;
    color: #002a64;
    margin: 20px 380px;
  }
  .aboutContainer .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 130px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    text-align: center;
   
  }
.aboutContent {
    text-align: justify;
    color: #002a64;
    font-size: 1.5rem;
    line-height: 25pt;
    padding: 10px;
    word-spacing: 2px;
}
/* Footer */
.footer {
    display: flex;
    padding: 40px 100px;
    height: 1vh;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.footerText{
    color:#fff;
    text-align: center;
    font-size: 1.2rem;
}
